<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Posts - Mini SNS</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/posts.css" />
  </head>
  <body>
    <%- include("header")%>
    <h1>ðŸ“‹ Recent Posts</h1>

    <!-- Container for all posts -->

    <% posts.forEach(function(post){ %> <%- include("feed",{post:post}) %> <%
    }); %>

    <br />

    <!-- Link back to home -->
    <%- include("footer")%>
  </body>

  <!-- ì™¸ë¶€ JS íŒŒì¼ ì—°ê²° -->
  <script src="js/posts.js"></script>
</html>
